In [2]:
t=('hi','hello')

In [7]:
t=(2,4)

In [8]:
t[0]

2

In [9]:
t[1]

4

In [10]:
from numpy import random as rn

In [16]:
rn.randint(0,9)

8

In [17]:
print()

In [19]:
x=10
x

10

In [22]:
li=[9,3,1,7,2,8,4,7]
li2=li[:4]
li3=li[4:]
li2.sort()
li3.sort()
li=li2+li3
print(li)

[1, 3, 7, 9, 2, 4, 7, 8]

In [8]:
def student(id,name,marks=60):
    print(id)
    print(name)
    print(marks)
    
student(1,"ruthu",90)
print("outside function:",id)

1
ruthu
90
outside function: <built-in function id>

In [9]:
a=student(2,"xyz",35)

2
xyz
35

In [ ]:
def student():
    id=2
    name="ruthu"
    marks=35
    def teacher():
        nonlocal marks