In [129]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [130]:
help(my_primes)

NameError: name 'my_primes' is not defined

In [ ]:
import my_fun as mf
dir(mf)

In [ ]:
my_fun.marks

In [ ]:
mf.predict(10)

In [ ]:
import random as rn
help(rn)

###### Define a function for proper name
i/p          MacHine learning,macHine learning

o/p Machine Learning

In [ ]:
st=input().split()
for word in st:
    print(chr())

In [ ]:
ord('a')

In [ ]:
ord('A')

In [ ]:
chr(64)

In [ ]:
def proper_name(fname,lname):
    fname=fname.strip()
    lname=lname.strip()
    print(fname.title(),lname.title())
    
proper_name("    macHiNE",'LeaRning    ')

In [ ]:
def proper(name):
    print(name.strip().title())
    
proper("MacHine learning  ")
proper("maChine LearNing")

Anonymus function

Syntax ' lambda arguments:expression'

#####  Define a function to add two lists elements wise
a=[1,2,3,4]

b=[2,3,4,5]

o/p=[3,5,7,9]

In [ ]:
def add_lists(a,b):
    li=[]
    for num,num2 in zip(a,b):
        s=num+num2
        li.append(s)
    return li
add_lists([1,2,3,4],[2,3,4,5])

In [ ]:
def add_lists(a,b):
    li=[]
    for num,num2 in range(len(a),len(b)):
        s=num+num2
        li.append(s)
    return li

add_lists([1,2,3,4],[2,3,4,5])

In [ ]:
def listElementwiseadd(a,b):
    c=[]
    for i in range(len(a)):
        c.append(a[i]+b[i])
    return c
listElementwiseadd([1,2,3,4],[3,2,4,5])

[name,english,maths,science].

Add the total marks of each student.

Sort them based on total in ascending order

print the student name with max total. If total is equal check the Maths marks and 

print the nof the student who got ma in math, third element in each sublist is Maths.

In [131]:

st_mks=[['raju',56,78,89],['ravi',78,89,37],['Giri',45,67,92],['Rohan',75,85,44]]
def add_total(st_mks):
    total=0
    for li in st_mks:
        for item in li:
            if str(item).isdigit():
                total+=item
    return total
add_total(st_mks)

835

In [132]:
# Add the total marks for each student data and append the total to the sublist
for i in range(len(st_mks)):
    st_mks[i].append(sum(st_mks[i][1:]))
st_mks

[['raju', 56, 78, 89, 223],
 ['ravi', 78, 89, 37, 204],
 ['Giri', 45, 67, 92, 204],
 ['Rohan', 75, 85, 44, 204]]

In [ ]:
sorted(st_mks,key=lambda x:x[-1])

In [ ]:
sorted(st_mks,key=lambda x:x[0])

In [ ]:
sorted(st_mks,key=lambda x:x[1])

In [4]:
d={'a':94,'b':16,'c':70}
sorted(d.items(),key=lambda x:x[1])

[('b', 16), ('c', 70), ('a', 94)]

In [2]:
d={'a':94,'b':16,'c':70}
sorted(d.items(),key=lambda x:x[1],reverse=True)

[('a', 94), ('c', 70), ('b', 16)]

In [ ]:
sorted(st_mks,key=lambda x:x[2])

In [ ]:
check=sorted(st_mks,key=lambda x:x[-1])
maths=0
for item in check:
    if item[-1]==204:
        if maths<item[2]:
            name=item[0]
            maths=item[2]
print(name)

In [ ]:
a,b=[1,2,3,4],[2,3,4,5]
list(map(lambda x,y:x+y,a,b))

In [ ]:
list(map(lambda x:x%2==0,a))

In [ ]:
True+False

In [ ]:
sum(list(map(lambda x:x%2==0,a)))

In [ ]:
def is_prime(n):
    flag=True
    for num in range(2,(n//2)+1):
        if n%num==0:
            flag=False
            return flag
    return flag

In [ ]:
sum(list(map(is_prime,range(1,101))))

In [ ]:
li=[]
dir(li)

input=5

1

2 9

3 8 10

4 7 11 14

5 6 12 13 15

In [15]:
n=5
pat=[]
val=1
for i in range(n):
    pat.append([])
    pat[i].extend(list(range(val,val+n-i)))
    val=pat[i][-1]+1
pat

[[1, 2, 3, 4, 5], [6, 7, 8, 9], [10, 11, 12], [13, 14], [15]]

In [16]:
for i in range(1,len(pat),2):
    pat[i].sort()
    pat[i]=pat[i][::-1]
pat

[[1, 2, 3, 4, 5], [9, 8, 7, 6], [10, 11, 12], [14, 13], [15]]

In [ ]:
for i in range(len(pat)):
    if len(pat[0])

In [ ]:
n=int(input())
for num in range(1,n+1):
    print(num,end=" ")
    print('\n')
    for num1 in range(1,num+1):
        print(num1,end=" ")

In [ ]:
n=int(input())
for num in range(1,n+1):
    print(num,end=" ")
    print()
    for num2 in range(1,n+1):
        print(num2,end=" ")

In [ ]:
n=int(input())
for num in range(1,n+1):
    print(num,end=" ")
    print()
    for num2 in range(num,n+1):
        print(num2,end=" ")

In [ ]:
n=int(input())
for i in range(1,n+1):
    print(i,end=" ")
    print()
    for j in range(i,j+1):
        print(j,end=" ")

In [12]:
li=[3,6,2,9,1]
for num in li.reverse():
    print(num)

TypeError: 'NoneType' object is not iterable

In [11]:
li.sort()
li

[1, 2, 3, 6, 9]