####  Fucntions
##### Syntax:
' def functionName(arg1,arg2,...)# Arguements are optional
  
      Statements...
        ...
     return # optional '

In [1]:
def greet():
    print("Hello! Everyone")
greet()

Hello! Everyone

In [2]:
print(greet()) # return value is not there,,that's why we got None value

Hello! Everyone
None

In [6]:
var = greet()
print(var)

Hello! Everyone
None

In [9]:
var # No output for this value because we are not printing if print value will be Noneâ™¦

In [11]:
print(var)

None

In [20]:
def add(a,b):
    print("sum is ",a+b)
    return a+b
add(5,6)

sum is  11

11

In [21]:
ad=add(5,6)

sum is  11

In [22]:
ad

11

11

In [27]:
def greet_with_name(first_name,last_name):
    print("Hello everyone! This is",first_name,last_name)

greet_with_name('Meda','Ruthumma')

Hello everyone! This is Meda Ruthumma

In [28]:
greet_with_name(20,30)

Hello everyone! This is 20 30

In [32]:
def greetWithName(fname,lname):
    print('Hello everyone This is'+' '+fname+' '+lname)
    
greetWithName('M','L')

Hello everyone This is M L

In [33]:
def greetWithName(fname,lname):
    print('Hello everyone This is'+' '+
          fname+' '+lname)
    
greetWithName('M','L')

Hello everyone This is M L

In [35]:
def my_sum(a,b=10):
    return a+b
my_sum(10)

20

In [36]:
def sum2(a=10,b): # first arg is having the default value and 2nd does not have
    return a+b

sum2(10)

SyntaxError: non-default argument follows default argument (<ipython-input-36-2234855ee1aa>, line 1)

In [37]:
def sum3(a=20,b=10): # Here we defined the function with arguements 
    return a+b 
sum3() # calling without arguements

30

In [38]:
def sum3(a=20,b=10): # Here we defined the function with arguements 
    return a+b 
sum3(40,70) # calling with someother arguement  i.e., over writing the values

110

In [39]:
list(range(5))

[0, 1, 2, 3, 4]

In [41]:
list(range(2,6))

[2, 3, 4, 5]

In [42]:
list(range(2,6,2))

[2, 4]

In [43]:
def my_range(start,stop,step):
    li=[]
    num=start
    while num<stop:
        li.append(num)
        num+=step
    return li

my_range(2,8,3)

[2, 5]

In [44]:
my_range(2,9,2)

[2, 4, 6, 8]

In [52]:
def my_range(stop,start=0,step=1): # Defining with 3 arguements
    li=[]
    num=start
    while num<stop:
        li.append(num)
        num+=step
    return li

my_range(5) # calling with 1 arguement

[0, 1, 2, 3, 4]

In [53]:
my_range(8,2)

[2, 3, 4, 5, 6, 7]

In [54]:
my_range(30,4,3)

[4, 7, 10, 13, 16, 19, 22, 25, 28]

In [58]:
def myproduct(*values):
    f=1
    for num in values:
        f*=num
    return f

myproduct()

1

In [57]:
myproduct(2,5)

10

In [59]:
myproduct(9)

9

In [60]:
myproduct(9,8,7,2,3)

3024

In [65]:
def dic(**names):
    for key,value in names.items():
        print(key,value)
dic(sub='ML')

sub ML

In [69]:
dic(sub1='DS',sub2='ML',sub3='DL',sub4='AI')

sub1 DS
sub2 ML
sub3 DL
sub4 AI

In [82]:
# Fucntion for mutlpication table
def mul_table(n,start=1,stop=11):
    while start!=stop:
        print(n,"*",start,"=",n*start)
        start+=1
mul_table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [83]:
mul_table(5,2,5)

5 * 2 = 10
5 * 3 = 15
5 * 4 = 20

In [93]:
mul_table(5,3)

5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [94]:
for num in range(1,11):
    print(5,"*",num,"=",5*num)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [99]:
for num in range(5,8,):
    print(5,"*",num,"=",5*num)

5 * 5 = 25
5 * 7 = 35

In [119]:
def mytable(n,st=1,sp=10):
    for num in range(st,sp+1):
        print(n,"*",num,"=",n*num)
    
mytable(2,6)

2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

#####  Define a function to return the prime no.s in the inputs as a list, define prime fun() se

In [108]:
def is_prime(n):
    flag=True
    for num in range(2,(n//2)+1):
        if n%num==0:
            flag=False
            return flag
    return flag

In [110]:
is_prime(101)

True

In [123]:
def isPrime(n):
    count=0
    for num in range(1,n//2+1):
        if n%num==0:
            count+=1
    if count==1:
        return True
    else:
        return False
    
def my_primes(*numbers):  
    ''' This fun will take multpile no.s as input.
        Returns as list with prime no.s
        >>>[5,11] '''
    li=[]
    for num in numbers:
        if isPrime(num):
            li.append(num)
    return li

my_primes(4,5,6,9,11)

[5, 11]