In [2]:
import pandas as pd
df=pd.read_csv('market_fact.csv')
df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [3]:
cat_cols=df.columns[df.dtypes==object]
cat_cols

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id'], dtype='object')

In [4]:
df[cat_cols].nunique()

Ord_id     5506
Prod_id      17
Ship_id    7701
Cust_id    1832
dtype: int64

In [7]:
#calculate catogery frequencies for each value in the categorical column
for column in cat_cols:
    print(df[column].value_counts())

Ord_2506    6
Ord_542     6
Ord_4025    5
Ord_1581    5
Ord_1980    5
           ..
Ord_5262    1
Ord_4412    1
Ord_3013    1
Ord_2146    1
Ord_4358    1
Name: Ord_id, Length: 5506, dtype: int64
Prod_6     1225
Prod_3      915
Prod_4      883
Prod_5      788
Prod_8      758
Prod_13     633
Prod_1      546
Prod_2      434
Prod_15     386
Prod_11     361
Prod_17     337
Prod_12     288
Prod_9      246
Prod_10     189
Prod_7      179
Prod_16     144
Prod_14      87
Name: Prod_id, dtype: int64
SHP_564     4
SHP_5602    4
SHP_1378    4
SHP_2528    3
SHP_3855    3
           ..
SHP_4016    1
SHP_2502    1
SHP_7073    1
SHP_2272    1
SHP_1304    1
Name: Ship_id, Length: 7701, dtype: int64
Cust_1140    30
Cust_1329    22
Cust_444     21
Cust_572     21
Cust_1799    20
             ..
Cust_1661     1
Cust_156      1
Cust_676      1
Cust_1082     1
Cust_847      1
Name: Cust_id, Length: 1832, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.3+ KB

In [9]:
df.describe(include=object)

          Ord_id Prod_id  Ship_id    Cust_id
count       8399    8399     8399       8399
unique      5506      17     7701       1832
top     Ord_2506  Prod_6  SHP_564  Cust_1140
freq           6    1225        4         30

In [10]:
cust_df =pd.read_csv('customer.csv')
prod_df =pd.read_csv('product.csv')
ship_df =pd.read_csv('shipping.csv')
order_df=pd.read_csv('orders.csv')

In [11]:
print(prod_df.shape)

(17, 3)

In [13]:
print(df.prod_df.nunique())

AttributeError: 'DataFrame' object has no attribute 'prod_df'

In [15]:
order_df.head()

   Order_ID  Order_Date Order_Priority Ord_id
0         3  13-10-2010            LOW  Ord_1
1       293  01-10-2012           HIGH  Ord_2
2       483  10-07-2011           HIGH  Ord_3
3       515  28-08-2010  NOT SPECIFIED  Ord_4
4       613  17-06-2011           HIGH  Ord_5

In [17]:
print(df.Cust_id.nunique())

1832

In [28]:
df1=pd.merge(df,cust_df,on='Cust_id')
df1

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54,AARON BERGMAN,ALBERTA,WEST,CORPORATE
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59,AARON BERGMAN,ALBERTA,WEST,CORPORATE
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38,AARON BERGMAN,ALBERTA,WEST,CORPORATE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER

In [29]:
df1.shape

(8399, 14)

In [32]:
#Merge the df1 and prod_df files and store the result  in df2
df2=pd.merge(df1,prod_df,on='Prod_id')
df2

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5467,Prod_14,SHP_7639,Cust_1803,5964.19,0.10,33,988.20,24.49,0.46,TONJA TURNELL,ALBERTA,WEST,CONSUMER,TECHNOLOGY,COPIERS AND FAX
8395,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,TONY CHAPMAN,BRITISH COLUMBIA,WEST,CONSUMER,TECHNOLOGY,COPIERS AND FAX
8396,Ord_5368,Prod_14,SHP_7497,Cust_1795,17279.62,0.04,40,4176.25,24.49,0.52,TONY SAYRE,ALBERTA,WEST,SMALL BUSINESS,TECHNOLOGY,COPIERS AND FAX
8397,Ord_1765,Prod_14,SHP_2446,Cust_595,14647.26,0.07,25,5485.15,24.49,0.37,VICTORIA WILSON,ONTARIO,ONTARIO,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX
8398,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.65,0.06,3,-2213.75,24.49,0.50,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE,TECHNOLOGY,COPIERS AND FAX

In [36]:
#Merge the df2 and ship_df files and store the result  in df3
df3=pd.merge(df2,ship_df,on='Ship_id')
df3

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID,Ship_Mode,Ship_Date
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,REGULAR AIR,26-02-2011
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53026,REGULAR AIR,03-03-2012
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36992,EXPRESS AIR,09-12-2009
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",13920,REGULAR AIR,10-10-2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_4106,Prod_14,SHP_5720,Cust_1397,11829.40,0.07,20,3899.72,24.49,0.37,TOBY CARLISLE,SASKACHEWAN,PRARIE,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX,57984,REGULAR AIR,04-10-2010
8395,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,TONY CHAPMAN,BRITISH COLUMBIA,WEST,CONSUMER,TECHNOLOGY,COPIERS AND FAX,41895,REGULAR AIR,12-01-2011
8396,Ord_5368,Prod_14,SHP_7497,Cust_1795,17279.62,0.04,40,4176.25,24.49,0.52,TONY SAYRE,ALBERTA,WEST,SMALL BUSINESS,TECHNOLOGY,COPIERS AND FAX,8997,REGULAR AIR,05-07-2009
8397,Ord_1765,Prod_14,SHP_2446,Cust_595,14647.26,0.07,25,5485.15,24.49,0.37,VICTORIA WILSON,ONTARIO,ONTARIO,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX,45184,REGULAR AIR,26-06-2010
8398,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.65,0.06,3,-2213.75,24.49,0.50,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE,TECHNOLOGY,COPIERS AND FAX,43650,REGULAR AIR,24-03-2009

In [37]:
df3.shape

(8399, 19)

In [39]:
#Merge the df3 and order_df files and store the result  in master_df
master_df=pd.merge(df3,order_df,on='Ord_id')
master_df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,WEST,CORPORATE,TECHNOLOGY,TELEPHONES AND COMMUNICATION,36262,EXPRESS AIR,27-07-2010,36262,27-07-2010,NOT SPECIFIED
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,...,WEST,CORPORATE,OFFICE SUPPLIES,PAPER,36262,EXPRESS AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
3,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,...,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,REGULAR AIR,26-02-2011,37863,24-02-2011,HIGH
4,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,...,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53026,REGULAR AIR,03-03-2012,53026,26-02-2012,LOW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5018,Prod_14,SHP_7001,Cust_1696,7325.63,0.04,38,1899.23,24.49,0.46,...,WEST,SMALL BUSINESS,TECHNOLOGY,COPIERS AND FAX,54214,EXPRESS AIR,05-01-2012,54214,02-01-2012,MEDIUM
8395,Ord_669,Prod_14,SHP_916,Cust_224,20872.16,0.03,29,-4437.91,24.49,0.41,...,WEST,CORPORATE,TECHNOLOGY,COPIERS AND FAX,52035,REGULAR AIR,30-11-2009,52035,27-11-2009,HIGH
8396,Ord_508,Prod_14,SHP_686,Cust_186,19109.61,0.10,40,-379.29,24.49,0.36,...,WEST,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX,5988,EXPRESS AIR,22-11-2010,5988,21-11-2010,NOT SPECIFIED
8397,Ord_3721,Prod_14,SHP_5162,Cust_1309,614.14,0.09,3,-735.27,24.49,0.46,...,PRARIE,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX,27616,REGULAR AIR,01-08-2012,27616,30-07-2012,LOW
8398,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,...,WEST,CONSUMER,TECHNOLOGY,COPIERS AND FAX,41895,REGULAR AIR,12-01-2011,41895,10-01-2011,CRITICAL

In [43]:
master_df.shape

(8399, 22)

In [44]:
master_df.Product_Category.value_counts()

OFFICE SUPPLIES    4610
TECHNOLOGY         2065
FURNITURE          1724
Name: Product_Category, dtype: int64

In [46]:
master_df.groupby('Product_Category').Sales.max()

Product_Category
FURNITURE          29345.27
OFFICE SUPPLIES    25409.63
TECHNOLOGY         89061.05
Name: Sales, dtype: float64

In [47]:
master_df.groupby('Product_Category').Sales.max().max()

89061.05

In [48]:
master_df.groupby('Customer_Segment').Sales.max()

Customer_Segment
CONSUMER          89061.05
CORPORATE         41343.21
HOME OFFICE       45923.76
SMALL BUSINESS    33367.85
Name: Sales, dtype: float64

In [53]:
master_df.groupby(['Customer_Segment','Product_Category']).Sales.max()

Customer_Segment  Product_Category
CONSUMER          FURNITURE           28389.14
                  OFFICE SUPPLIES     23516.31
                  TECHNOLOGY          89061.05
CORPORATE         FURNITURE           29345.27
                  OFFICE SUPPLIES     23106.46
                  TECHNOLOGY          41343.21
HOME OFFICE       FURNITURE           28180.08
                  OFFICE SUPPLIES     18697.24
                  TECHNOLOGY          45923.76
SMALL BUSINESS    FURNITURE           24639.80
                  OFFICE SUPPLIES     25409.63
                  TECHNOLOGY          33367.85
Name: Sales, dtype: float64

In [55]:
master_df[master_df.Product_Category=='FURNITURE'].Sales.max()

29345.27