###  Pandas
- Series
- DataFrame
- Panel

In [4]:
import pandas as pd
pd.__version__

'0.25.1'

Series
- From list,tuple,dictionary
- From numpy array

In [5]:
import numpy as np
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [6]:
pd.Series([1,2,3,4]) # printing the data with indices

0    1
1    2
2    3
3    4
dtype: int64

In [323]:
s=pd.Series([4,5,6],index=(['I','II','III'])

SyntaxError: unexpected EOF while parsing (<ipython-input-323-8235f2a38049>, line 1)

In [ ]:
print(s[0])
print(s[1],s['II'])

In [ ]:
print(s[0:2])

In [ ]:
s.index=['one','two','three']
print(s)

In [ ]:
st_marks={'maths':67,'science':78,'english':56}
print(st_marks)
print(len(st_marks))

In [7]:
pd.Series(st_marks)

NameError: name 'st_marks' is not defined

In [1]:
pd.date_range('2019-11-20','2019-11-30')

NameError: name 'pd' is not defined

In [ ]:
date=pd.date_range('2019-11-20',periods=4)
date

In [ ]:
temp=pd.Series([32,40,35,29],index=date)
temp

In [ ]:
print(temp[2])
print(temp.index[1])

####  Creating Series from Numpy Array

In [ ]:
pd.Series(np.arange(10))

DataFrame
- From a Dictionary
- From numpy 2d array

In [ ]:
st_marks

In [ ]:
student_marks={'Name':['Ram','Asha','Giri'],"Maths":[45,39,47],
              "Science":[43,44,41],
              "English":[35,39,46]}
student_marks

In [324]:
pd.DataFrame(student_marks)

   Name  Maths  Science  English
0   Ram     45       43       35
1  Asha     39       44       39
2  Giri     47       41       46

In [325]:
a=np.array([['Ram',45,47,41],['Asha',29,39,40]])
pd.DataFrame(a,columns=['Name','Science','Maths','English'])

   Name Science Maths English
0   Ram      45    47      41
1  Asha      29    39      40

In [326]:
pd.DataFrame(a,columns=['Name','Science','Maths','English'],index=['Std1','Std2'])

      Name Science Maths English
Std1   Ram      45    47      41
Std2  Asha      29    39      40

#### pd.read_csv()

In [327]:
pd.read_csv('marks.csv')

ParserError: Error tokenizing data. C error: Expected 4 fields in line 9, saw 5

In [ ]:
pd.read_csv('marks.csv',header=None)

In [ ]:
pd.read_csv('marks.csv',header=[1,2,3])

In [ ]:
pd.read_csv('marks.csv',header=1)

In [ ]:
data=pd.read_csv('marks.csv')
data

In [328]:
pd.read_csv('marks.csv',usecols=['Name','Science'])

       Name  Science
0     'Ram'     45.0
1    'Asha'      NaN
2  'Roja'49     45.0
3    'Ravi'     89.0
4    'Suma'     56.0
5   'Rohan'     82.0
6   'Raman'     78.0
7   'Akdfj'     34.0
8    'Basha     58.0

In [329]:
df=pd.read_csv('marks.csv',names=['Name','Maths','Science','English'])
df

       Name  Maths  Science  English
0      Name  Maths  Science  English
1     'Ram'     23       45       35
2    'Asha'   45.0      NaN       66
3  'Roja'49    NaN       45      NaN
4    'Ravi'     77       89       67
5    'Suma'    '90       56       39
6   'Rohan'     67       82       29
7   'Raman'  39.34       78       34
8   'Akdfj'     45       34       67
9    'Basha     30       58       91

In [330]:
df['Name']

0        Name
1       'Ram'
2      'Asha'
3    'Roja'49
4      'Ravi'
5      'Suma'
6     'Rohan'
7     'Raman'
8     'Akdfj'
9      'Basha
Name: Name, dtype: object

In [331]:
df.columns

Index(['Name', 'Maths', 'Science', 'English'], dtype='object')

In [332]:
df[['Name','Maths']]

       Name  Maths
0      Name  Maths
1     'Ram'     23
2    'Asha'   45.0
3  'Roja'49    NaN
4    'Ravi'     77
5    'Suma'    '90
6   'Rohan'     67
7   'Raman'  39.34
8   'Akdfj'     45
9    'Basha     30

In [333]:
df.dtypes

Name       object
Maths      object
Science    object
English    object
dtype: object

In [334]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [335]:
df.shape # tuple of no.oof rows and columns

(10, 4)

In [336]:
# No.of rows
print(df.shape[0])
# No.of columns
print(df.shape[1])

10
4

In [337]:
df.sort_values('Maths')

       Name  Maths  Science  English
5    'Suma'    '90       56       39
1     'Ram'     23       45       35
9    'Basha     30       58       91
7   'Raman'  39.34       78       34
8   'Akdfj'     45       34       67
2    'Asha'   45.0      NaN       66
6   'Rohan'     67       82       29
4    'Ravi'     77       89       67
0      Name  Maths  Science  English
3  'Roja'49    NaN       45      NaN

In [338]:
df.sort_values('Maths',ascending=False)

       Name  Maths  Science  English
0      Name  Maths  Science  English
4    'Ravi'     77       89       67
6   'Rohan'     67       82       29
2    'Asha'   45.0      NaN       66
8   'Akdfj'     45       34       67
7   'Raman'  39.34       78       34
9    'Basha     30       58       91
1     'Ram'     23       45       35
5    'Suma'    '90       56       39
3  'Roja'49    NaN       45      NaN

In [339]:
df.sort_values('Name')

       Name  Maths  Science  English
8   'Akdfj'     45       34       67
2    'Asha'   45.0      NaN       66
9    'Basha     30       58       91
1     'Ram'     23       45       35
7   'Raman'  39.34       78       34
4    'Ravi'     77       89       67
6   'Rohan'     67       82       29
3  'Roja'49    NaN       45      NaN
5    'Suma'    '90       56       39
0      Name  Maths  Science  English

In [340]:
student_df['College']=='IIIT'

0    True
1    True
2    True
3    True
4    True
5    True
6    True
Name: College, dtype: bool

Indexing:
- Position based Indexing-(iloc)
- Label based Indexing-(loc)

In [341]:
df['Name']

0        Name
1       'Ram'
2      'Asha'
3    'Roja'49
4      'Ravi'
5      'Suma'
6     'Rohan'
7     'Raman'
8     'Akdfj'
9      'Basha
Name: Name, dtype: object

##### df.iloc

In [342]:
df.iloc[4]

Name       'Ravi'
Maths          77
Science        89
English        67
Name: 4, dtype: object

In [343]:
df

       Name  Maths  Science  English
0      Name  Maths  Science  English
1     'Ram'     23       45       35
2    'Asha'   45.0      NaN       66
3  'Roja'49    NaN       45      NaN
4    'Ravi'     77       89       67
5    'Suma'    '90       56       39
6   'Rohan'     67       82       29
7   'Raman'  39.34       78       34
8   'Akdfj'     45       34       67
9    'Basha     30       58       91

In [344]:
df.iloc[4,0:5] # 1st and 2d column of 5th row

Name       'Ravi'
Maths          77
Science        89
English        67
Name: 4, dtype: object

In [345]:
df.iloc[4,0:3] # 1st and 2d column of 5th row

Name       'Ravi'
Maths          77
Science        89
Name: 4, dtype: object

In [346]:
df.iloc[4:6,:]

     Name Maths Science English
4  'Ravi'    77      89      67
5  'Suma'   '90      56      39

In [347]:
df.iloc[2,3]

'66'

In [348]:
df.iloc[2,]

Name       'Asha'
Maths        45.0
Science       NaN
English        66
Name: 2, dtype: object

In [349]:
df.iloc[:,2]

0    Science
1         45
2        NaN
3         45
4         89
5         56
6         82
7         78
8         34
9         58
Name: Science, dtype: object

In [350]:
df.iloc[[1,3,6],[2,0,1]]

  Science      Name Maths
1      45     'Ram'    23
3      45  'Roja'49   NaN
6      82   'Rohan'    67

lable based indexing
- loc

In [351]:
df.loc[1,'Name']

"'Ram'"

In [352]:
df.loc[3:,'Name']

3    'Roja'49
4      'Ravi'
5      'Suma'
6     'Rohan'
7     'Raman'
8     'Akdfj'
9      'Basha
Name: Name, dtype: object

In [353]:
df.loc[2:4,'Science':'Name']

Empty DataFrame
Columns: []
Index: [2, 3, 4]

In [354]:
df.set_index('Name')

          Maths  Science  English
Name
Name      Maths  Science  English
'Ram'        23       45       35
'Asha'     45.0      NaN       66
'Roja'49    NaN       45      NaN
'Ravi'       77       89       67
'Suma'      '90       56       39
'Rohan'      67       82       29
'Raman'   39.34       78       34
'Akdfj'      45       34       67
'Basha       30       58       91

In [355]:
df.loc[2,'Name']

"'Asha'"

In [356]:
df1=df.set_index('Name')
df1

          Maths  Science  English
Name
Name      Maths  Science  English
'Ram'        23       45       35
'Asha'     45.0      NaN       66
'Roja'49    NaN       45      NaN
'Ravi'       77       89       67
'Suma'      '90       56       39
'Rohan'      67       82       29
'Raman'   39.34       78       34
'Akdfj'      45       34       67
'Basha       30       58       91

In [357]:
df.info() # information about our dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
Name       10 non-null object
Maths      9 non-null object
Science    9 non-null object
English    9 non-null object
dtypes: object(4)
memory usage: 448.0+ bytes

In [358]:
df['Total']=df['English']+df['Maths']+df['Science']
df

       Name  Maths  Science  English                Total
0      Name  Maths  Science  English  EnglishMathsScience
1     'Ram'     23       45       35               352345
2    'Asha'   45.0      NaN       66                  NaN
3  'Roja'49    NaN       45      NaN                  NaN
4    'Ravi'     77       89       67               677789
5    'Suma'    '90       56       39              39'9056
6   'Rohan'     67       82       29               296782
7   'Raman'  39.34       78       34            3439.3478
8   'Akdfj'     45       34       67               674534
9    'Basha     30       58       91               913058

In [359]:
df.sum()

Name    Name'Ram''Asha''Roja'49'Ravi''Suma''Rohan''Ram...
dtype: object

In [360]:
df.iloc[:,1:4].sum(axis=1)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
dtype: float64

In [361]:
df.describe()

          Name Maths Science English   Total
count       10     9       9       9       8
unique      10     9       8       8       8
top     'Ravi'   '90      45      67  352345
freq         1     1       2       2       1

In [362]:
df.describe(include=object) # getting string type of data

          Name Maths Science English   Total
count       10     9       9       9       8
unique      10     9       8       8       8
top     'Ravi'   '90      45      67  352345
freq         1     1       2       2       1

In [363]:
df.describe(include=np.int64)# getting int type data

ValueError: No objects to concatenate

In [ ]:
student_df=pd.read_csv('student.csv',names=['Name','College','Course'])
student_df

Check the
- head
- tail
- shape
- columns
- dtypes
- index
- info
- describe

In [ ]:
student_df.info()

In [ ]:
student_df.describe()

In [ ]:
student_df.head()

In [ ]:
student_df.head(3)

In [ ]:
student_df.tail()

In [ ]:
student_df.tail(2)

In [ ]:
student_df.sample(3) # randomly giving

In [ ]:
student_df.shape

In [ ]:
student_df.columns

In [ ]:
student_df.dtypes

In [ ]:
student_df.nunique()

In [ ]:
student_df.College.value_counts()

##### pd.merge

In [ ]:
pd.merge(df,student_df,on='Name')

In [ ]:
pd.merge(df,student_df,on='Name',how='outer')

In [ ]:
pd.merge(df,student_df,on='Name',how='inner')

In [ ]:
pd.merge(df,student_df,on='Name',how='left')

In [ ]:
pd.merge(df,student_df,on='Name',how='right')

In [ ]:
student_df['College']=='IIIT'

In [ ]:
student_df[student_df['College']=='IIIT']

In [ ]:
student_df

In [ ]:
df[(df['Maths']>30) & (df['Maths']<60)]['Science']

In [411]:
df.isnull()

    Name  Maths  Science  English  Total
0  False  False    False    False  False
1  False  False    False    False  False
2  False  False     True    False   True
3  False   True    False     True   True
4  False  False    False    False  False
5  False  False    False    False  False
6  False  False    False    False  False
7  False  False    False    False  False
8  False  False    False    False  False
9  False  False    False    False  False

In [412]:
df.isna()

    Name  Maths  Science  English  Total
0  False  False    False    False  False
1  False  False    False    False  False
2  False  False     True    False   True
3  False   True    False     True   True
4  False  False    False    False  False
5  False  False    False    False  False
6  False  False    False    False  False
7  False  False    False    False  False
8  False  False    False    False  False
9  False  False    False    False  False

In [365]:
df.isnull().sum()

Name       0
Maths      1
Science    1
English    1
Total      2
dtype: int64

In [366]:
s=df.Science
s

0    Science
1         45
2        NaN
3         45
4         89
5         56
6         82
7         78
8         34
9         58
Name: Science, dtype: object

In [367]:
print(df.Science.min(),df.Science.max())
print(df.Science.mean())
print(df.Science.median())
print(df.Science.mode)

TypeError: '<=' not supported between instances of 'str' and 'float'

In [368]:
df

       Name  Maths  Science  English                Total
0      Name  Maths  Science  English  EnglishMathsScience
1     'Ram'     23       45       35               352345
2    'Asha'   45.0      NaN       66                  NaN
3  'Roja'49    NaN       45      NaN                  NaN
4    'Ravi'     77       89       67               677789
5    'Suma'    '90       56       39              39'9056
6   'Rohan'     67       82       29               296782
7   'Raman'  39.34       78       34            3439.3478
8   'Akdfj'     45       34       67               674534
9    'Basha     30       58       91               913058

In [369]:
df.Sceince.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Sceince'

In [370]:
df2=pd.read_csv('marks.csv',names=['Name','Maths','Sceince','English'])
df2

       Name  Maths  Sceince  English
0      Name  Maths  Science  English
1     'Ram'     23       45       35
2    'Asha'   45.0      NaN       66
3  'Roja'49    NaN       45      NaN
4    'Ravi'     77       89       67
5    'Suma'    '90       56       39
6   'Rohan'     67       82       29
7   'Raman'  39.34       78       34
8   'Akdfj'     45       34       67
9    'Basha     30       58       91

In [371]:
df2.dropna()

      Name  Maths  Sceince  English
0     Name  Maths  Science  English
1    'Ram'     23       45       35
4   'Ravi'     77       89       67
5   'Suma'    '90       56       39
6  'Rohan'     67       82       29
7  'Raman'  39.34       78       34
8  'Akdfj'     45       34       67
9   'Basha     30       58       91

In [372]:
df2.dropna(axis=1)

       Name
0      Name
1     'Ram'
2    'Asha'
3  'Roja'49
4    'Ravi'
5    'Suma'
6   'Rohan'
7   'Raman'
8   'Akdfj'
9    'Basha

In [373]:
df2.drop('Maths',axis=1)

       Name  Sceince  English
0      Name  Science  English
1     'Ram'       45       35
2    'Asha'      NaN       66
3  'Roja'49       45      NaN
4    'Ravi'       89       67
5    'Suma'       56       39
6   'Rohan'       82       29
7   'Raman'       78       34
8   'Akdfj'       34       67
9    'Basha       58       91

In [374]:
df2

       Name  Maths  Sceince  English
0      Name  Maths  Science  English
1     'Ram'     23       45       35
2    'Asha'   45.0      NaN       66
3  'Roja'49    NaN       45      NaN
4    'Ravi'     77       89       67
5    'Suma'    '90       56       39
6   'Rohan'     67       82       29
7   'Raman'  39.34       78       34
8   'Akdfj'     45       34       67
9    'Basha     30       58       91

In [375]:
final_df=pd.merge(df,student_df,how='outer')
final_df

,Name,Maths,Science,English,Total,College,Course
0,Name,Maths,Science,English,EnglishMathsScience,NaN,NaN
1,'Ram',23,45,35,352345,NaN,NaN
2,'Asha',45.0,NaN,66,NaN,IIIT,Machine Learning
3,'Roja'49,NaN,45,NaN,NaN,NaN,NaN
4,'Ravi',77,89,67,677789,IIIT,Data Science
5,'Suma','90,56,39,39'9056,IIIT,'Aritificial Intelligence
6,'Rohan',67,82,29,296782,NaN,NaN
7,'Raman',39.34,78,34,3439.3478,NaN,NaN
8,'Akdfj',45,34,67,674534,NaN,NaN
9,'Basha,30,58,91,913058,NaN,NaN
10,'Roja',NaN,NaN,NaN,NaN,IIIT,Python
11,'Ramu',NaN,NaN,NaN,NaN,IIIT,Data Science
12,'Guru',NaN,NaN,NaN,NaN,IIIT,Machine Learning
13,'Kumar',NaN,NaN,NaN,NaN,IIIT,Data Science

In [376]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 0 to 13
Data columns (total 7 columns):
Name       14 non-null object
Maths      9 non-null object
Science    9 non-null object
English    9 non-null object
Total      8 non-null object
College    7 non-null object
Course     7 non-null object
dtypes: object(7)
memory usage: 896.0+ bytes

In [377]:
final_df.isnull()

     Name  Maths  Science  English  Total  College  Course
0   False  False    False    False  False     True    True
1   False  False    False    False  False     True    True
2   False  False     True    False   True    False   False
3   False   True    False     True   True     True    True
4   False  False    False    False  False    False   False
5   False  False    False    False  False    False   False
6   False  False    False    False  False     True    True
7   False  False    False    False  False     True    True
8   False  False    False    False  False     True    True
9   False  False    False    False  False     True    True
10  False   True     True     True   True    False   False
11  False   True     True     True   True    False   False
12  False   True     True     True   True    False   False
13  False   True     True     True   True    False   False

In [378]:
final_df.isnull().sum()

Name       0
Maths      5
Science    5
English    5
Total      6
College    7
Course     7
dtype: int64

In [379]:
final_df.isnull()['Science']

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12     True
13     True
Name: Science, dtype: bool

In [380]:
final_df.isnull()['Maths']

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12     True
13     True
Name: Maths, dtype: bool

In [381]:
final_df.dtypes

Name       object
Maths      object
Science    object
English    object
Total      object
College    object
Course     object
dtype: object

In [382]:
final_df.columns[final_df.dtypes==object]

Index(['Name', 'Maths', 'Science', 'English', 'Total', 'College', 'Course'], dtype='object')

In [383]:
final_df.describe().columns

Index(['Name', 'Maths', 'Science', 'English', 'Total', 'College', 'Course'], dtype='object')

In [384]:
final_df.columns[final_df.dtypes!=object]

Index([], dtype='object')

In [385]:
cat_cols=final_df.describe(include=object).columns
cat_cols

Index(['Name', 'Maths', 'Science', 'English', 'Total', 'College', 'Course'], dtype='object')

In [386]:
num_cols=final_df.columns[final_df.dtypes!=object]
num_cols

Index([], dtype='object')

In [387]:
print(cat_cols)

Index(['Name', 'Maths', 'Science', 'English', 'Total', 'College', 'Course'], dtype='object')

In [388]:
final_df

,Name,Maths,Science,English,Total,College,Course
0,Name,Maths,Science,English,EnglishMathsScience,NaN,NaN
1,'Ram',23,45,35,352345,NaN,NaN
2,'Asha',45.0,NaN,66,NaN,IIIT,Machine Learning
3,'Roja'49,NaN,45,NaN,NaN,NaN,NaN
4,'Ravi',77,89,67,677789,IIIT,Data Science
5,'Suma','90,56,39,39'9056,IIIT,'Aritificial Intelligence
6,'Rohan',67,82,29,296782,NaN,NaN
7,'Raman',39.34,78,34,3439.3478,NaN,NaN
8,'Akdfj',45,34,67,674534,NaN,NaN
9,'Basha,30,58,91,913058,NaN,NaN
10,'Roja',NaN,NaN,NaN,NaN,IIIT,Python
11,'Ramu',NaN,NaN,NaN,NaN,IIIT,Data Science
12,'Guru',NaN,NaN,NaN,NaN,IIIT,Machine Learning
13,'Kumar',NaN,NaN,NaN,NaN,IIIT,Data Science

In [389]:
print(final_df.College.mode())

0    IIIT
dtype: object

Numerical Columns

In [390]:
final_df['Maths'].fillna(final_df['Maths'].mean())

TypeError: can only concatenate str (not "int") to str

In [391]:
for col in num_cols:
    final_df[col].fillna(final_df[col].mean(),inplace=True)

In [392]:
final_df

,Name,Maths,Science,English,Total,College,Course
0,Name,Maths,Science,English,EnglishMathsScience,NaN,NaN
1,'Ram',23,45,35,352345,NaN,NaN
2,'Asha',45.0,NaN,66,NaN,IIIT,Machine Learning
3,'Roja'49,NaN,45,NaN,NaN,NaN,NaN
4,'Ravi',77,89,67,677789,IIIT,Data Science
5,'Suma','90,56,39,39'9056,IIIT,'Aritificial Intelligence
6,'Rohan',67,82,29,296782,NaN,NaN
7,'Raman',39.34,78,34,3439.3478,NaN,NaN
8,'Akdfj',45,34,67,674534,NaN,NaN
9,'Basha,30,58,91,913058,NaN,NaN
10,'Roja',NaN,NaN,NaN,NaN,IIIT,Python
11,'Ramu',NaN,NaN,NaN,NaN,IIIT,Data Science
12,'Guru',NaN,NaN,NaN,NaN,IIIT,Machine Learning
13,'Kumar',NaN,NaN,NaN,NaN,IIIT,Data Science

In [410]:
for col in cat_cols:
    final_df[col].fillna(final_df[col].mean(),inplace=True)  # value error

TypeError: Could not convert Name'Ram''Asha''Roja'49'Ravi''Suma''Rohan''Raman''Akdfj''Basha'Roja''Ramu''Guru''Kumar' to numeric

In [393]:
final_df.isna()

     Name  Maths  Science  English  Total  College  Course
0   False  False    False    False  False     True    True
1   False  False    False    False  False     True    True
2   False  False     True    False   True    False   False
3   False   True    False     True   True     True    True
4   False  False    False    False  False    False   False
5   False  False    False    False  False    False   False
6   False  False    False    False  False     True    True
7   False  False    False    False  False     True    True
8   False  False    False    False  False     True    True
9   False  False    False    False  False     True    True
10  False   True     True     True   True    False   False
11  False   True     True     True   True    False   False
12  False   True     True     True   True    False   False
13  False   True     True     True   True    False   False

In [394]:
final_df['College'][final_df['College'].isna()]

0    NaN
1    NaN
3    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: College, dtype: object

In [396]:
final_df['College'].mode()[0]

'IIIT'

#### Grouping

In [403]:
final_df.groupby('College')['Maths'].max() # maximum marks of maths of perticular college

TypeError: '>=' not supported between instances of 'str' and 'float'

In [406]:
final_df.groupby('College').Maths.sum() # sum of maths marks of college

TypeError: can only concatenate str (not "int") to str

In [407]:
final_df.groupby('Course').Maths.max() # gruoping by course

TypeError: '>=' not supported between instances of 'str' and 'float'

In [408]:
final_df.groupby(['Course','College']).Maths.max()

TypeError: '>=' not supported between instances of 'str' and 'float'

### Global Sales Data